[2012-03-23 11:38] elfring opened #4 "Check return codes everywhere"
I have noticed that some checks for return codes are missing in your source files.

Would you like to add more error handling for return values from functions like the following?
- [printf](http://pubs.opengroup.org/onlinepubs/9699919799/functions/printf.html) ⇒ [to_text](https://github.com/merces/pev/blob/2918af65ccf74d147d5ba602403cf48133776909/src/output.c#L15)
- [fseek](http://pubs.opengroup.o

[2012-05-18 04:13] #4 closed, assigned to nobody

[2012-10-24 17:54] adamv opened #27 "Tag 0.6 or 0.5.1"
I'd love to get the OS X support into a real version; any chance of tagging a new version so we can package this in Homebrew?

Thanks!

Ref: https://github.com/mxcl/homebrew/pull/13263

[2012-10-31 05:41] #27 closed, assigned to nobody

[2012-11-03 00:09] felipensp opened #28 "Invalid tag name on XML generated by pescan"
Hello,

I just noticed that **pescan** prints out the section name as tag name in the XML.

[code]

But, the XML standards states that the tag name cannot be started by dot character. [1]

[1] - http://www.w3.org/TR/REC-xml/#sec-starttags

[2012-11-03 11:25] felipensp opened #29 "Possible non exact comparison for .tls section on pescan"
Hello,
Looking at the code of strisprint() function on pescan.c, I found a memcmp() usage that doesn't uses the trailing NULL byte in the comparison, which can lead to an unexpected behavior when checking against other strings started with ".tls". (e.g. .tlsfoobar)

_pescan.c:244_

[code]

If anyone add a custom ".tlsfoobar" section to the PE, it will be treated as the ".tls" section by **pescan**

[2012-11-05 00:59] #28 closed, assigned to nobody

[2012-11-05 01:02] #29 closed, assigned to nobody

[2013-04-20 13:21] jweyrich opened #47 "readpe@mmap: Output inconsistency"
Running readpe with the same binary for the master & mmap versions gives different outputs.

[code]

pev@master:

pev@mmap:

This is most definitely a bug. Or isn't it?

[2013-06-08 05:44] #47 closed, assigned to nobody

[2013-06-28 01:39] dkura opened #50 "Integration"
Hi,

I am a student currently working on my anti-malware project. I cam across this pev toolkit. I love this tool totally. I got the results of what I am looking for. But, I would like to integrate this toolkit with my project.

Is there any chance that I can integrate it. Please let me know ASAP! You can email me directly to my email id: dkura@uno.edu

Appreciated in advance..:)
Thanks!

[2013-08-01 03:23] #50 closed, assigned to nobody

[2013-08-08 23:50] juliensobrier opened #51 "pehash: get the file hash, not PE hash"
I've tried pehash 0.60 on about 20,000 windows 32-bit executables, pehash gives me the hash of the entire file. I thought it would give me has hash of the PE headers instead.

[2013-11-03 21:39] felipensp opened #53 "readpe crashes on print_imports() function"
Just tried to run readpe on idag.exe and a crash occurred:

[code]

[2013-11-22 03:23] #51 closed, assigned to nobody

[2013-11-28 06:18] #53 closed, assigned to nobody

[2013-12-02 03:07] merces opened #54 "pescan: support for TLS callbacks functions detection"
The support for TLS callbacks should be rewritten due to mmap changes.

[2013-12-02 03:10] merces opened #55 "pehash: calculate hashes of all supported PE pieces by default"
pehash should calculate the hashes of all sections, headers and the whole file by default.

[2013-12-02 03:19] merces opened #56 "peres: some extracted resources can be broken / in a invalid format"
@marcelomf is working on that.

[2013-12-02 03:25] merces opened #57 "Update programs manpages"

[2013-12-02 03:52] merces opened #58 "Write basic documentation"
- [x] Update current documentation at http://pev.sourceforge.net/html-doc/
- [x] Add compatibility option with pev v0.60 output in documentation.
- [x] Move 'tutorial' to a different place, update it and translate it to PT-BR also.

[2013-12-02 18:41] #54 closed, assigned to merces

[2013-12-03 05:31] #55 closed, assigned to merces

[2013-12-03 06:02] #57 closed, assigned to merces

[2013-12-27 19:07] #58 closed, assigned to merces

[2013-12-27 19:08] #56 closed, assigned to nobody

[2013-12-27 19:59] jweyrich opened #60 "pestr --net exits with "regex compilation failed" on Mac OS X Mavericks"
The following is a reproduction on Mac OS X Mavericks (10.9.1):

[code]

Thank you @loganbr for the report.

[2014-01-22 14:24] merces opened #61 "pestr missing net-related strings"
pestr do not show all network-based strings of certain binaries. It can probably be an encoding problem.
![pestrbug](https://f.cloud.github.com/assets/1429647/1974517/e4b737bc-8370-11e3-947f-4a9ff6b7d044.png)

[2014-03-14 03:58] Pr0teus opened #62 "pescan & pesec does not genarate a valid XML"
When trying to print the output of PESCAN and PESEC does not genarate some valid XML tag some are like: <.text>, <DEP /NX> and < Stack Cookies (EXPERIMENTAL) >.

[2014-03-14 04:00] Pr0teus opened #63 "PESEC fails to export in XML the signers of certificate"
PESEC fails to export in XML the signers of certificate the output its incomplete like:
...
...
<Signature>Valid</Signature>
<Signers> ??

[2014-03-15 03:10] #63 closed, assigned to nobody

[2014-03-20 21:56] qcjacobo opened #64 "Bug In Pepack (PEV 0.70, Windows 7 64-bit)"
Below are the steps taken and result:
1. Copied C:\Windows\system32\cmd.exe to C:\Windows\system32\malwaretest.exe
2. Ran pepack -d <path to userdb.txt> against cmd.exe in the path as dscribed above and it runs successfully detecting no packer.
3. Re-ran the same steps and syntax with malwaretest.exe and I get an error "ERROR [-14]: fdopen() failed (No such file or directory).  The path and filena

[2014-04-02 08:10] jweyrich opened #68 "Makefile should install plugins as well"
And of course the plugin loader must know where the plugins are installed in order to load them correctly. As those plugins are not meant to be executed by the user directly, I believe we should install them to `$(libexec)/pev`, or ultimately to `$(libdir)/pev`.

Keeping in mind our Makefile conforms to the GNU Coding Standards, it allows all paths to be configured during compilation, thus we cann

[2014-04-12 05:44] #60 closed, assigned to nobody

[2014-04-12 05:44] #61 closed, assigned to nobody

[2014-04-12 08:19] #68 closed, assigned to jweyrich

[2014-04-12 17:10] merces opened #69 "Better support for config file entries"
pev.conf enhancements:
- [ ] Consider SHAREDIR when compiling the source file that contains pepack default database file path.
- [x] Spaces in pev.conf entries should be ignored.

[2014-06-09 02:39] Pr0teus opened #70 "Output to JSON"
Would be awesome if PEV tools were able to export to JSON format, since its a common format.
For example:

[code]

[2014-06-15 00:02] #70 closed, assigned to nobody

[2014-06-15 00:55] #62 closed, assigned to nobody

[2014-07-10 08:41] simhigo opened #73 "readpe command error"
plugins: could not open directory '����' -- No such file or directory

os: osx 10.9.3 mavericks

[2014-07-21 07:55] ghost opened #74 "peres extract resources(.ico) without the head of ico"

[2014-07-21 15:04] #73 closed, assigned to nobody

[2014-09-14 14:42] struppigel opened #77 "peres does not read shuffled resources"
1. Get the file resource_shuffled.exe from corkami, BinaryCorpus_v2.zip: https://code.google.com/p/corkami/downloads/detail?name=BinaryCorpus_v2.zip&can=2&q=
2. Execute:
   peres -i resource_shuffled.exe

The output is:
    this file has no resources

The output should be something like:
    address: 0x12f0, size: 0x229, language -> ID: 0, name -> ID: 101, type -> ID: RT_RCDATA
(extracted info wit

[2014-09-14 14:58] struppigel opened #78 "readpe breaks up parsing process for empty data directory"
1. Download: http://www.phreedom.org/research/tinype/tiny.168/tiny.exe
2. Execute: readpe tiny.exe

Output: After printing the optional header values, the parser breaks with the message
"unable to read the Directories entry from Optional header"
The section table is not shown, although it is there.

Note: the file is the 7th step of the tinype project. All of the files before work fine. It has low

[2014-10-14 19:05] #64 closed, assigned to nobody

[2014-11-11 09:29] katjahahn opened #79 "readpe does not read imports if first import descriptor is virtual"
- download the file: http://corkami.googlecode.com/svn/trunk/src/PE/bin/imports_virtdesc.exe
- execute: readpe imports_virtdesc.exe

The output will show no imports.

The expected output is something like:

[code]

[2014-11-11 09:47] struppigel opened #80 "Shuffled exports cannot be read"
- download: http://corkami.googlecode.com/svn/trunk/src/PE/bin/exports_order.exe
- execute: readpe exports_order.exe

readpe shows no exports for this file.

I expect to see this:

[code]

Note: The exports are not in alphabetical order.

[2014-11-16 00:49] #78 closed, assigned to jweyrich

[2014-11-16 01:12] #80 closed, assigned to jweyrich

[2015-01-15 13:33] rick2600 opened #83 "Buffer overflow in pestr.c"
The variable buff_index is incremented without checking the length of buff.

https://github.com/merces/pev/blob/master/src/pestr.c#L202
[code]

[2015-01-20 22:12] #83 closed

[2015-04-13 15:18] tklengyel opened #85 "Release libpe under LGPL"
Hello,
I just found your code and it's really great! Any chance you could release the libpe component under LGPL license? I would love to use it within the LibVMI project to replace our own home-baked version of parsing PEs.

Thanks,
Tamas

[2015-04-29 03:46] merces commented on #85
Hi @tklengyel. Sorry about the long delay. We had it in mind already so your request came right in time. libpe is now under LGPLv3. We look forward to see it working with your project! Thank you!

[2015-04-29 03:47] #85 closed

[2015-04-29 08:55] tklengyel commented on #85
Excellent, thanks!

[2015-04-29 13:20] jweyrich commented on #85
Awesome! :+1:

[2015-06-30 02:51] diogoleal opened #86 "Download version 0.71"
In documentation is referenced version 0.71, but in sourceforge and github find only version 0.70.

Links for reference
http://sourceforge.net/projects/pev/files/
http://pev.sourceforge.net/doc/manual/en_us/ch01s02.html
http://pev.sourceforge.net/doc/manual/en_us/

[2015-07-02 21:54] rocklob opened #88 "Segmentation faults in pehash and readpe"
I have come across a couple binaries that cause pehash and readpe to segfault.  I uploaded an example of such a binary to malwr:

https://malwr.com/analysis/NmIwMDZkMTZlOTRkNDJkOTgzZDFhZTNhNTQ3ZWIxZjA/share/e09332fe54fc412ba2a995d3b9b9fd0d

(This is from the wild, so handle with care.)

On this sample, pehash gives me this output:
[code]

readpe gives me this:

[code]

[2015-07-08 07:41] LigH-de opened #89 "All reported export functions have the same name"
I checked a just compiled x265 v1.7+298 EXE and DLL built with GCC 4.8.2 or 4.9.2 with different PE analyzers for whether they export functions.

In contrast to PE Scanner and Dependency Walker, which report all exported functions with unique names, the list of exported functions reported by readpe contains the same name for all exported functions.

    Exported functions
    0x2af000:

[2015-07-08 14:25] jweyrich commented on #89
Interesting. Which version of pev did you run?

[2015-07-08 14:34] jweyrich commented on #86
I suppose this is a bug in the docs as v0.71 hasn't been tagged yet. Mostly because there are 2 bugs (namely #77 and #79) that should have been addressed prior to releasing v0.71, but we couldn't manage to fix them, yet. Maybe it's time for us to push the new version as it is, and postpone the fixes that are holding back the release of other important changes.

@merces: What do you think?

[2015-07-08 14:38] LigH-de commented on #89
Version 0.70, still the latest pre-built binary from SourceForge (2013-12-27).

[2015-08-10 17:24] merces commented on #89
Could you please test with the latest code here in Github?

[2015-08-10 17:34] merces commented on #86
I totally agree, @jweyrich.
Thanks, @diogoleal for the bug report.

[2015-08-11 01:49] merces commented on #88
Hi @rocklob. Thanks for opening this issue. I've confirmed it and added some error handling code under @4912ed4bbdb88. However, I wonder if any tool is able to seek through the section content or list the imports of this DLL file. If so, we should be able to do the same.

[2015-08-11 06:59] LigH-de commented on #89
I can't make a new build yet, I don't have experience in setting up a cygwin build environment. To compile x265, I just use prepared MSYS/MinGW environments, but wouldn't know how to create one.

You can download several x265 builds (v1.7+3xx, min. 3 MB) from https://www.mediafire.com/folder/6lfp2jlygogwa/HEVC and check the x265_ml.exe's (multi-lib) in each flavour.

In the last 64-bit build (v1.7

[2015-08-11 08:42] LigH-de commented on #89
I tried to set up a cygwin environment and build pev by calling "make" in the src subdirectory. But it failed due to a missing pe,h file.

[2015-08-11 10:38] merces commented on #89
Thanks, for the sharing the samples. I'll have a look into it asap.
Yes, we have some [documentation](http://pev.sourceforge.net/doc/manual/en_us/ch02s02.html) sorry for not referencing it in GitHub. This is something we have to fix as well. :)

[2015-08-11 11:09] LigH-de commented on #89
Cloning the default branch from your git repo recursively provided the required sources to pass the compilation, I copied the exe files and plugins after "make" and "make install" from /usr/local/{bin|lib/pev} and updated the required cyg*.dll's from /bin; this package already worked well and reported the expected import tables for both Win32 and Win64 multi-lib exe's of x265 v1.7+399.

Will try n

[2015-08-11 11:39] jweyrich commented on #89
Nice! The 0.70-fixes branch is out-of-date as we should have already merged it against master a few months ago. Master is the latest source right now.

Sent from mobile.

[2015-08-11 11:39] merces commented on #89
I've merged both branches yesterday but I've applied some patches on v0.70-fixes already. Apart from that, this branch is using the latest version of libpe. The differences are small, but still exist. ;)

Yes, the git call is correct

[2015-08-11 11:54] LigH-de commented on #89
OK, the v70-fixes build works just as well.

[2015-08-11 12:03] merces commented on #89
Hi @LigH-de just ran a test with latest source code from v0.70-fixes branch and the result was the following:

[code]

I'm closing this issue then. We'll release the next version ASAP so it will include this fix. Please, feel free to comment / request for reopening this issue if you feel something is wrong. Thanks a lot for your time and great help! :)

[2015-08-11 12:03] #89 closed

[2015-08-11 12:04] LigH-de commented on #89
The interesting part was about testing the x265_ml.exe, not the DLLs, though... ;)

[2015-08-11 12:06] merces commented on #86
Fixed in the [online documentation](http://pev.sourceforge.net/doc/manual/en_us/).

Thanks!

[2015-08-11 12:06] #86 closed

[2015-08-11 12:19] merces commented on #89
Really interesting. I just ran the tests again with those x265_ml.exe and everything is good so far. I'll definitely include these binaries into the test set. :thumbsup:

[2015-08-11 14:25] merces opened #91 "Update documentation to reflect v0.80 changes"
- [x] [ChangeLog](http://pev.sourceforge.net/doc/manual/en_us/ch01s02.html)
- [x] [Full user manual](http://pev.sourceforge.net/doc/manual/en_us/)
- [x] README

[2015-08-12 14:23] rocklob commented on #88
I'm not familiar with similar tools, but if more samples that cause this issue would be helpful to you, I can probably find some.

[2015-08-12 14:47] jweyrich commented on #88
@merces: pedump isn't able - http://pedump.me/c122f3f4f4e08e854ab387900b80fb5c/#pe

From its log:

[2015-08-13 00:54] merces commented on #88
Got it, @rocklob.
@jweyrich, thanks for checking. I've tested with two different tools as well and got the same results. So, I'm closing this issue but I'll add tests with those binaries in our TODO list. Perhaps we can extend pev to read parse more data from them. ;)

Thank you all.

[2015-08-13 00:54] #88 closed

[2015-08-21 19:55] merces opened #92 "Choose a more permissive license"
Likely GPLv2.

[2015-08-26 18:57] #92 closed

[2015-10-25 18:57] LigH-de opened #96 "Making a distribution ZIP archive for cygwin fails"
Despite the (probably outdated) [source installation guide](http://pev.sourceforge.net/doc/manual/en_us/ch02s02.html), ```make zip``` fails, ```Makefile``` does not contain a target "zip".

Instead it contains a target "win"; but this fails too, at this file: ```/usr/bin/cyggcc_s-1.dll``` does not exist in current cygwin-win32 installations; instead, there is a ```cyggcc_s-seh-1.dll``` (which seem

[2015-10-29 03:48] #96 closed

[2015-10-29 03:53] merces commented on #96
Thanks for reporting this. Actually the existing documentation is for [v0.70](https://github.com/merces/pev/releases/tag/v0.70) release, that has a 'zip' target. We changed that In the  current code, that is going to be part of our furutre v0.80 release.

Regarding the cyggcc_s-1.dll, apparently cygwin doesn't require it anymore to run our pev programs, so I have removed it.

Again, thank you very

[2016-07-01 00:59] dgonyier opened #97 "How to get File Version info with recent version of pev tools???"
I've used the pev 0.40 tool to get file version information quite easily from a windows PE file with

[code]

With the most recent version of the toolkit, I can't figure out how simply get the File Version field from a PE file. The pev tool is gone, and there is nothing in the current documentation that says specifically how to do this.

[2016-07-19 23:10] merces commented on #97
pev has suffered many changes and among all of them, we forgot to keep this option. Actually it should be in peres tool, but it is not and the main developer of peres stopped to contribute for some reason, so we now have a resources problem, sorry, I don't see this option being implemented anytime soon unless someone with C coding (and PE) skills joins the project.

However, you still have access

[2016-09-09 07:58] skitt opened #98 "Please add an OpenSSL licensing exception"
Hi, since you're linking to OpenSSL from a GPL-licensed program, you should add a licensing exception because the OpenSSL license and GPL license are incompatible (see https://people.gnome.org/~markmc/openssl-and-the-gpl.html for details). This assumes all the copyright holders are in agreement of course.

This is preventing Debian from packaging anything newer than version 0.50...

Thanks!

[2016-09-09 14:45] jweyrich commented on #98
@skitt: Thank you for reporting this issue! It was a slip-up from my part. Would you mind checking whether it's ok now?
@merces: Are you ok with the changes proposed in the PR above?

[2016-09-09 19:03] skitt commented on #98
Thanks, that seems good to me!

[2016-09-09 19:43] jweyrich commented on #98
Cool. Merged. Thanks again!

[2016-09-09 19:43] #98 closed

[2016-09-17 18:02] merces commented on #98
Thank you both @skitt and @jweyrich. Really thanks for keeping the project alive. :thumbsup:

[2016-10-25 07:23] petterreinholdtsen commented on #98
Hi.  Do you plan to make a new release with this change in place?  If so, you might want to include the patch used in the Debian package too, available from https://anonscm.debian.org/cgit/collab-maint/pev.git/tree/debian/patches/ .

[2017-01-04 15:12] rdoeffinger commented on #97
Maybe this could at least be added to the documentation?
Changing a tool to be completely incompatible with the old version and not at all providing the one feature it had but keeping the same name for the project seems rather unfortunate and not at all user-friendly.
Plus it leaves us without a solution to the problem that the project originally tried to solve...

[2017-01-04 15:13] rdoeffinger commented on #97
Also, there is no tag for v0.40 either it seems.

[2017-01-04 15:15] rdoeffinger opened #100 "Support static linking of libpe"
A one-off compile and run is rather painful currently:
either you need to install, or you need to rename libpe.so to libpe.so.1 and set LD_LIBRARY_PATH.
For quick one-off usage a way to compile and use a static libpe would be much more convenient.

[2017-01-05 04:41] merces commented on #97
@rdoeffinger you are right and we are very sorry about that. Please notice pev was my first open source project and I have to admit I had no experience with either programming or open source project management at the time. I'd never do that today but in the past I did. :grimacing:

Alternatively, pev 0.40 is available for download, including its source code [here](https://sourceforge.net/projects/

[2017-01-05 08:53] rdoeffinger commented on #97
Sorry if I was a bit aggressive in my comment, my point is not to lay blame.
I think things would be a bit smoother if the pev-legacy (as I'll call it now) was in git as well, both so you don't need to send people to download it separately and in case someone really relies on it they still could send fixes for it (personally, I switched to strings and grep for now, which currently works for my pur

[2017-01-05 09:39] merces commented on #97
Don't worry, you were not.

As you thought, there was no version control before 0.50 indeed. I'd appreciate if you could do this. Also, have a look at the latest commits. I think I fixed the problem of printing the File Version number with peres -v swtich.

[2017-01-05 12:06] rdoeffinger commented on #97
peres -v works, though compared to "pev -p" it prints "File Version:" and not only the version, though it doesn't matter much.
About importing the old versions, I have some concerns...
- at least the 0.22 tar file contains pev binaries, and 2 different ones at that. Which also results in "make" saying there is nothing to do. Not sure what to do about that best?
- the 0.30 tar file contains a .svn

[2017-01-05 12:25] rdoeffinger commented on #97
It's not possible to make a pull request for a new branch, but you can do this:
git fetch git@github.com:rdoeffinger/pev.git pev-legacy --tags
git push origin FETCH_HEAD:pev-legacy --tags -n

(remove the -n if it looks like it is pushing the right things to actually push the new branch along with the tags)
Tell me if you want me to change something, like the author name on the commits or so.

[2017-01-05 14:02] merces commented on #97
I added the "File Version" string to have a consistent CSV/HTML/XML output as well.

I agree with deleting the binaries, for sure.

This SVN repository is likely gone, unfortunately.

I was able to fetch your branch but I couldn't push it onto the repository. See below:

[code]

Does that help if I create a branch called pev-legacy?

[2017-01-05 15:22] rdoeffinger commented on #97
Yes, if you create the branch (as en empty branch!) I can likely send a pull request.
I didn't test the push command, but by the error message this one should work:
git push origin FETCH_HEAD:refs/heads/pev-legacy --tags -n

[2017-01-05 16:31] merces commented on #97
Done! Thank you again! I'm closing this issue as I readded the feature with @948b830c9824. ;)

[2017-01-05 16:31] #97 closed

[2017-01-05 16:40] jweyrich commented on #98
@petterreinholdtsen it was not really fast from our part, but @merces is working on a new release right now. Yay!
I suspect the issue related to DESTDIR was fixed sometime ago. Thank you for the patch anyway!

[2017-01-06 07:42] petterreinholdtsen commented on #98
[Jardel Weyrich]

Good to hear.  I hope the new release show up in time for the Debian
package freeze.  It is only a few days away.

--
Happy hacking
Petter Reinholdtsen

[2017-01-06 10:44] merces commented on #98
Hi @petterreinholdtsen, we'll release anytime soon. So are you a Debian package maintainer? I always wanted to have pev in Debian but packaging it became too complex for me. I saw the link you mentioned and apparently you updated the package from version 0.40 to 0.50 in Debian repositories, is that right? Anyway, thank you very much!

Could you please have a look at the current repository and see

[2017-01-06 11:11] skitt commented on #98
One thing I've noticed just now is that https://github.com/merces/pev/blob/master/src/plugins/Makefile doesn't use DESTDIR in its install target, that would be nice to have (especially since the DESTDIR fixes from https://anonscm.debian.org/cgit/collab-maint/pev.git/tree/debian/patches/install-target.patch have been applied).

[2017-01-06 11:15] merces commented on #79
Hi @katjahahn,

Thanks for reporting this. I am not sure when exactly we fixed that but current version is able to print the imports as shown:

[code]

We are next to a release, so we appreciate any other bug you may report.

[2017-01-06 11:15] #79 closed

[2017-01-06 11:21] merces commented on #98
Hi @skitt do you mind sending a PR? I am working on another bug right now. :-)

[2017-01-06 11:55] skitt commented on #98
Actually since src/Makefile defines pluginsdir with DESTDIR, it's all good, no need to change anything.

[2017-01-06 11:58] merces commented on #98
Thanks, @skitt!

[2017-01-06 12:21] petterreinholdtsen commented on #98
[Fernando Mercês]

You are welcome. :)

I suggest you bring this up with Stephen Kitt and Paulo, who discuss
future Debian maintenance for the package in
<URL: https://bugs.debian.org/836368 >.  I updated the package in Debian
because I needed a feature in a newer version, but do not know much
about Windows and prefer it if others look after pev.  I notice Steven
is already following this issue, s

[2017-01-06 12:36] merces commented on #98
Nice. I know Paulo in person and he has been trying to finish this package for a while. To be honest, I am the bottleneck here but will catch up with him asap!

[2017-01-06 13:31] merces commented on #74
Hi @ajiaiscas sorry about the long delay and thanks for reporting this. The thing is peres extracts the raw resources but icons are split when compiled into resources and need to be reconstructed. We'll investigate for a possible solution.

[2017-01-07 00:03] #69 closed

[2017-01-07 00:03] jweyrich commented on #69
The 1st item was address by a586588.

[2017-01-07 03:18] merces commented on #91
Closed by @94018f9a7f5533f8c7186c6dd9ab33eb0ead2210.

[2017-01-07 03:18] #91 closed

[2017-01-09 13:56] jweyrich commented on #98
I'm not sure who is working (or will work) on the package, if anyone, so I'm mentioning everyone already mentioned in this issue.

@petterreinholdtsen @skitt @kretcheu: We'd be glad to accept a PR containing your work related to packaging. We could create a directory structure like dist/deb/<deb-pgk-related-files>. What do you think?

We don't know why some distros don't include `/usr/local/lib` i

[2017-01-09 14:05] skitt commented on #98
Regarding the first point, we prefer to keep packaging separate from upstream sources (see https://wiki.debian.org/UpstreamGuide and in particular https://wiki.debian.org/UpstreamGuide#Pristine_Upstream_Source for a more detailed explanation). So packaging would go in a Debian git repository, not on GitHub; in fact it's already hosted on https://anonscm.debian.org/cgit/collab-maint/pev.git

Regard

[2017-01-09 14:10] skitt commented on #98
Also, it's important to understand that `DESTDIR` is for *installation* purposes only, it must never be referenced at runtime. It would cause huge problems in distribution packaging if you forced `$(DESTDIR)/$(libdir)` to be the library path — `$DESTDIR` points to a temporary folder used during the ubild, it's not the real location of the libraries after package installation.

[2017-01-09 14:14] jweyrich commented on #98
Arch Linux is one example - https://bugs.archlinux.org/task/20059?project=1&opened=2263

[2017-01-09 14:17] skitt commented on #98
That Arch bug was fixed in November 2010...

[2017-01-09 14:19] jweyrich commented on #98
Oops! I should have read the close-reason. My bad!
According to @merces, Debian 8 does not include it by default.

[2017-01-09 14:21] skitt commented on #98
That's weird, my Debian 8 systems include it (using the default setup).

[2017-01-09 14:25] merces commented on #98
Well, maybe my box is somehow broken, but here I had to create a symlink to use pev:

[code]

[2017-01-09 14:27] skitt commented on #98
@merces do you have a `/etc/ld.so.conf.d/libc.conf` file? It should exist and contain `/usr/local/lib`.

[2017-01-09 14:30] merces commented on #98
Yes I do.

[code]

But I'll be glad if only my box is broken. It's just a test VM. I didn't want to have is our users unable to launch pev programs right after installing it manually. ;-)

[2017-01-09 14:37] skitt commented on #98
Ah, you need to run `ldconfig` after installing the library.

[2017-01-09 14:45] merces commented on #98
Yes, that worked! Thanks.

By the way, we just released v0.80. Thank you all!

[2017-01-09 16:24] jweyrich commented on #98
Awesome! Thank you very much for all the lessons @skitt!

[2017-01-12 17:14] DigiAngel opened #103 "Storage size of ‘md_ctx’ isn’t known"
Topic:
[code]

Debian version is stretch/sid with gcc version
[code]

Thank you.

[2017-01-12 18:06] jweyrich commented on #103
Which version of `libssl-dev` do you have in the system? You may check with `dpkg -l | grep libssl-dev`.

[2017-01-12 18:12] DigiAngel commented on #103
Oh look....1.1.0..no wonder 8-|
[code]

Guessing that's why yes?  I've not had much luck with anything compiling against 1.1.0 :(  Thank you.

[2017-01-12 18:50] jweyrich commented on #103
That's the probable cause. OpenSSL 1.1.0 seem to have changed libcrypto and libssl public structures, causing various problems on various softwares.

I worked on a fix to make it compatible with OpenSSL 1.1.0 and will publish it as soon as I test it. Will let you know. Thanks for the report!

[2017-01-12 18:53] DigiAngel commented on #103
Awesome...thank you.

[2017-01-19 02:04] jweyrich commented on #103
@DigiAngel did you install libssl-dev 1.1.0 from the unstable apt repository or from source? I don't see another way to have it on Debian right now.

[2017-01-19 02:37] jweyrich commented on #103
I've merged the referenced PR to fix the compatibility issues. If you want to give it a try and let us know, we'd appreciate your feedback.

[2017-01-19 02:39] #103 closed

[2017-01-19 02:41] DigiAngel commented on #103
Yea that totally fixed it...thank you!

[2017-01-19 02:44] jweyrich commented on #103
Awesome! Thank you for the report and feedback!

[2017-03-10 19:35] rmenessec opened #105 "Extracting resources does not always result in usable files"
Hi! I'd like to be able to use peres or pev more generally to get version information out of EXEs and DLLs under UNIX environments, and pev looks almost ideal. However, the extracted resources don't appear to be valid files--and it's not clear that peres attempted to transform the compiled .RC at all.

As an example, extracting the PE32+ / x86-64 binary from [SIV](http://www.rh-software.com/) prod

[2017-06-22 13:32] boddumanohar opened #106 "Doubt : using type uint32_t as type ImageDirectoryEntry"
in line [317](https://github.com/merces/pev/blob/master/src/readpe.c#L317) of readpe.c, a function `pe_directory_name` whose function definition is
[code]
is used. But in the line 317 when we have passed `uint32_t` values into `pe_directory_name` function,  and the program ran happily.

Why did it work when we have passed `uint32_t` when `ImageDirectoryEntry` is actually expected.

[2017-06-22 14:22] jweyrich commented on #106
Hi Manohar! Thank you for posting here.

The code works because `ImageDirectoryEntry ` is defined as an `enum` in https://github.com/merces/libpe/blob/cbc1a47a86ad81f2f8ad96d51894ab678797fbe5/directories.h#L31, which is basically an integral type that can represent all values from the declared enumeration.

The magic is that C supports implicit casts, and that's what's happening in the line you me

[2017-06-23 12:50] jweyrich commented on #106
I'm closing the issue for now. Let us know if you have other doubts.

[2017-06-23 12:50] #106 closed

[2017-07-04 20:13] petterreinholdtsen opened #107 "Segfault for pesec"
When testing pesec on a random .exe file I had on my disk, I ran into a segfault.  Here is the valgrind output from the crash.

[code]

This is using version 0.80.

[2017-07-04 20:23] jweyrich commented on #107
Would you be able to provide us the PE file so we can reproduce the crash?

[2017-07-04 21:06] petterreinholdtsen opened #108 "Port to OpenSSL 1.1?"
Hi.  The pev source do not compile when using OpenSSL 1.1.  This is the first build failure:

[code]

Please port pev to the most resent OpenSSL version.

[2017-07-04 22:04] petterreinholdtsen commented on #107
[Jardel Weyrich]

I guess, but I am reluctant to publish it as I suspect it is malware.  I
got it when investigating various popcorn time clients, and do not
really trust its content.

--
Happy hacking
Petter Reinholdtsen

[2017-07-06 18:46] jweyrich commented on #108
Hi! The problem you reported was fixed in https://github.com/merces/pev/commit/53eb494baf2b1132d27f73da079f4226157f6381, but we haven't shipped a new release of pev since then, so it's likely you're reporting this issue based on an outdated revision. Until there's a new release, you should be able to install pev from source. If not, then let us know so we can talk about releasing a patch revision

[2017-07-06 18:59] petterreinholdtsen commented on #108
[Jardel Weyrich]

Thank you for the update.  I tested using version 0.80 while preparing
it for Debian.  I did not as you suspect use the latest git source.

A new release with OpenSSL 1.1 support would make the life of pev
maintainers in Debian easier. :)

--
Happy hacking
Petter Reinholdtsen

[2017-07-06 19:51] jweyrich commented on #108
@merces Do you think you'd be able to release a minor revision soon?

[2017-07-16 19:47] jwilk opened #111 "Binary garbage on stderr when open() fails"
[code]

Tested with git master (ccef80d9092d4762344d3f4f527f1986b678562d).

[2017-07-16 20:17] jwilk opened #112 "pehash segmentation fault"
[code]

(Unhelpful) GDB backtrace:
[code]

Tested on i686, against git master (ccef80d9092d4762344d3f4f527f1986b678562d).

Found using [american fuzzy lop](http://lcamtuf.coredump.cx/afl/).

[2017-07-17 10:26] jwilk opened #116 "Buffer overflow in print_basic_hash()"
`print_basic_hash()` declares the output buffer as:
[code]
With the current OpenSSL versions, `EVP_MAX_MD_SIZE * 2 + 1` is 129.
However, `fuzzy_hash_buf()` requires an output buffer of size `FUZZY_MAX_RESULT`, which is 148.

[2017-07-17 12:13] petterreinholdtsen opened #117 "Use POSIX <limits.h> for PATH_MAX?"
Hi.

I noticed the code fail to build on Hurd and kFreeBSD, and one of the hurdles is the way PATH_MAX is defined in the code.

[POSIX specify](http://pubs.opengroup.org/onlinepubs/009695399/basedefs/limits.h.html) to include <limits.h> to find PATH_MAX, and it seem to be no need for the complicated section in config.c to find it.  I suggest to rewrite it like this:

[code]

I do not know what kin

[2017-07-17 14:57] #116 closed

[2017-07-17 15:02] jweyrich commented on #112
Looks like your change fixed it. Thank you!

[2017-07-17 15:02] #112 closed

[2017-07-17 15:14] jweyrich commented on #117
`__APPLE__` is defined on Darwin platforms (Mac OS, Mac OS X, macOS). FWIW, I believe it's defined on iOS too.

I believe your source is not up to date - See https://github.com/merces/pev/commit/ccef80d9092d4762344d3f4f527f1986b678562d

Although the issue might still be relevant after that change. We'll need to dig a bit deeper on this one.

[2017-07-17 16:11] petterreinholdtsen commented on #117
[Jardel Weyrich]

You are right.  I am looking at the latest release.

My proposal is to make POSIX the default, while the current code do not
have POSIX as the default.
--
Happy hacking
Petter Reinholdtsen

[2017-07-17 16:51] jweyrich commented on #111
Ouch! That looks ugly. That output comes from https://github.com/merces/libpe/blob/cbc1a47a86ad81f2f8ad96d51894ab678797fbe5/error.c#L62, and it looks like `strerror_r` is not doing it job correctly (or maybe we aren't).

According to the documentation:

I believe even if the supplied size isn't enough to hold the resulting message, it would not fail like that. But I might be wrong.

Finally, I was

[2017-07-17 16:52] boddumanohar opened #119 "Add Language support for peres.c"
Currently `peres.c` provides information about `Characteristics`, `Timestamp` `Major/Minor version` we should also support `language` and `sublanguage` features.

[2017-07-17 17:16] jweyrich commented on #88
@rocklob: I believe the issues you reported were fixed. I ran both tools with that sample and they no longer crash.

[2017-07-17 17:29] jweyrich commented on #107
Would be ok for you to upload it somewhere and share the URL privately?

[2017-07-17 19:05] jwilk commented on #111
The important part of `strerror_r` manpage seems to be:

So the buffer you pass to `strerror_r` may remain uninitialized.

I tested this on Linux, i386, GCC 6, glibc 2.24.

[2017-07-17 19:35] jweyrich commented on #111
Although it also mentions the following right after the sentences you quoted:

It seems that the GNU-specific version is picked by the compiler and it doesn't seem to do what I did expect. We could simply `memset` the buffer before usage, but it may silence the relevant error message that should appear there.

Will have to investigate it during the weekend. Please let me know about your findings i

[2017-07-18 09:34] petterreinholdtsen commented on #107
I send you the details via email.

[2017-07-18 12:19] jweyrich commented on #116
Hopefully my commit did fix it. Thanks for reporting it!

[2017-08-10 08:46] petterreinholdtsen commented on #108
The request for OpenSSL 1.1 support in Debian is tracked as https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=870779 .

[2017-08-22 14:59] boddumanohar commented on #100
@merces @jweyrich do  have guys have any plans on supporting static linking of libpe for the release v0.81?

[2017-08-22 15:29] boddumanohar commented on #117
To fix this, I would suggest simply defining a macro for PATH_MAX and define value like 4080 which is long enough for most practical situations. This way we can make portable.

[2017-08-22 17:42] boddumanohar commented on #117
I am sorry, the above suggestion is actually not suggested because this results in dangerous bugs like stack overflow. I just a read an article about this:
http://insanecoding.blogspot.in/2007/11/pathmax-simply-isnt.html

With PATH_MAX variable for different operating systems like for windows its 260, on Linux its 4096, on OpenBSD its 1024, how can we make this variable portable?

[2017-08-22 18:55] petterreinholdtsen commented on #117
[Manohar Reddy]

Well, for pev I believe it is easier to ask how can we get rid of the
use of PATH_MAX, and for the two cases where it is used, I believe
replacing char b[PATH_MAX] with char b ==*b = malloc(strlen(s1) +
strlen(s2) + 2) is easier.

--
Happy hacking
Petter Reinholdtsen

[2017-08-22 19:07] boddumanohar commented on #117
What are s1 an s2 here?

[2017-08-22 19:58] petterreinholdtsen commented on #117
[Manohar Reddy]

Two example/dummy string names being joined together by snprintf() in
the code.  In src/config.c their real values are the return value from
utils_get_homedir() and DEFAULT_CONFIG_PATH, in src/plugins.c their real
values are path and filename.

--
Happy hacking
Petter Reinholdtsen

[2017-10-12 21:33] petterreinholdtsen commented on #107
Hi.  Do you have any idea when a new version without the segfault problem can be released?

[2017-10-13 17:49] jwilk opened #122 "peres uses uninitialized memory"
Apparently `peres` assumes that memory from `malloc()` is zero-initialized.
It crashes on some files when this assumption is violated:

    $ printf 'MZ%058d\200\0\0\0%064dPE\0\0%03d\0%016d\v\1%090d\20\0\0\0%016d\0%d\0\0%0160d\0%d\0\0%04d\0\f\0\0%02648d' > crash.exe
    $ export MALLOC_PERTURB_=165
    $ peres -i crash.exe
    Segmentation fault

Backtrace:

    #0  freeNodes (currentNode=0x5a5a5a

[2017-10-15 12:41] levyjm commented on #107
Hi there. Same issue with readpe (version .80), too:
[code]

Backtrace:
[code]

[2017-10-16 00:26] oliviabyer opened #123 "Add libyara support to pescan"

[2017-12-04 20:17] hunt3vil opened #124 "Why does 'readpe' need write permissions?"
Hi! Currently running `readpe` from pev 0.70 on the SANS SIFT Workstation and I've come across what I consider odd functionality: running `readpe sample.exe` where `sample.exe` is owned by `root:root` with permissions 644 fails. I ran a quick `strace` (see below) and noticed that `readpe` attempts to open the file with write permissions. I would expect it to only need read permissions so as to not

[2017-12-13 05:08] merces commented on #124
I believe it doesn't. We probably left it like this because we planned to have writing operations in the future (for i.e. being able to add a section to a PE file) but that's something we've never achieved. For v0.70 you'd need to recompile libpe (using [this tree](https://github.com/merces/libpe/tree/7015c904d063e334103fccc5929d0cb17ce72c1e)) with the following patch applied:

[code]

Then you'd

[2017-12-14 13:29] jweyrich commented on #124
That behaviour was changed in v0.80 (now it opens as readonly unless you specify via a flag that you want RW ops). @Merces is right. We still have various bugs and we need to improve our test suite to cover all already known/reported bugs, and start creating new cases for each new scenario.

[2018-01-04 07:08] wmmw123 opened #125 "error too many directories"
Hello.

If I run the file, an error occurs.

"error too many directories "

What's the reason?

 Thanks.

[2018-01-04 15:03] jweyrich commented on #125
The PE you're analyzing contains more than 16 directories. Most (or all) non-obscure compilers don't need more than 16 directories.

Is the binary you're analyzing known?

as a last resort, if you know how to compile pev, you may increase it in https://github.com/merces/libpe/blob/9b285ecfd8b288811604615cf54d946ff8f70ad8/include/libpe/pe.h#L48 - otherwise, we might consider a change for the next v

[2018-01-04 22:31] gy741 opened #126 "NULL pointer dereference in pe_imphash"
Hello.

I found a NULL pointer dereference in pev.

Please confirm.

Thanks.

Summary: NULL pointer dereference
OS: CentOS 7 64bit
Version: dbdcd2cf79d133e7b2ee02f7ffaae528c012c51a
PoC Download:  [null_pe_imphash.zip](https://github.com/merces/pev/files/1604906/null_pe_imphash.zip)

Steps to reproduce:
1.Download the .POC files.
2.Compile the source code with ASan.
3.Execute the following command

[2018-01-16 16:06] torandu opened #127 "Invalid JSON output for "Optional/Image header"."DLL characteristics names""
Output includes invalid JSON for DLL characteristics names. I found that in some cases there is a leading comma in the array. In other cases, there is a trailing comma.

Example with leading comma:
[code]

Example snippet with trailing comma:
[code]

In both cases, the resulting JSON is invalid.

[2018-01-16 20:15] jweyrich commented on #127
Hm.. that's interesting. Thanks for reporting! Could you send us a binary sample (just link for download) that causes any of these cases?

[2018-01-17 12:13] torandu commented on #127
Example is here
https://gist.github.com/torandu/f0529204d4d34f4543fa4c08b5018c45

[2018-03-04 12:39] quantran13 opened #128 "cyggcc_s-1.dll missing error"
I downloaded the pre-compiled binaries for Windows, but when I tried running `pehash.exe` from the command line it says `The program can't start because cyggcc_s-1.dll is missing from your computer`. I installed Cygwin and the packages listed on the README file but the error still happens.

I'm running on Windows 7 by the way.

[2018-03-10 20:06] merces commented on #128
Hi @quantran13. Thanks for reporting this. I could not reproduce this error, though. Are you using v0.80? It ran normally here.

[2018-03-13 09:25] rhaist commented on #127
I can confirm this behavior with the following file:

http://the.earth.li/\~sgtatham/putty/0.70/w64/putty.exe

Also there maybe should be an output default for this:
[code]

[2018-03-30 03:21] PointerWild opened #129 "How to handle with the error "undefined symbol: pe_can_read"?"
here is the error message:
peres: symbol lookup error: peres: undefined symbol: pe_can_read

here is the command i used :
peres -i /tmp/analysisDown/xiaookjfsky.exe

BTW, there are some msg :
root@roy-virtual-machine:~/下载# peres -V /tmp/analysisDown/xiaookjfsky.exe
peres from pev 0.80 <http://pev.sf.net> toolkit .....

I use pev 0.80, and i also install pev 0.70-amd64.deb.
my computer is ubuntu 16

[2018-04-09 03:57] PointerWild opened #130 "How to handle with " libpe.so.1: cannot open shared object file"?"
I install pev-0.80 as "README" said ; also use the commond  make + make install.
But i get the error as below:
peres: error while loading shared libraries: libpe.so.1: cannot open shared object file: No such file or directory.

I use  Ubuntu 16.0.4

How could i handle this error?

[2018-04-09 07:53] PointerWild commented on #130
OK. I handle this error.
As below :

root@roy-virtual-machine:~# ln -sf /opt/pev/lib/libpe/libpe.so.1
root@roy-virtual-machine:~# ldconfig

then, i solve  the problem.
BTW, my install pev at path "/opt".

[2018-04-09 07:53] #130 closed

[2018-05-29 13:37] VolodymyrB commented on #129
Same

[2018-06-03 16:25] cynicer opened #132 "readpe segfault"
Hey everyone,

I'm new to this tool and wanted to try it on some old binary (Ferentus.exe: PE32 executable (GUI) Intel 80386, for MS Windows) I had lying around.
[Ferentus.exe.zip](https://github.com/merces/pev/files/2066131/Ferentus.exe.zip)

When I execute `readpe -A Ferentus.exe` or `readpe Ferentus.exe` I get a `Segmentation fault: 11`. I guess this is not the normal behaviour?

Regards,
Marce

[2018-06-06 04:50] merces commented on #132
Hi @cynicer. You are right, this is not the normal behaviour. What version are you using? Did you try compiling pev from the the latest source code available? I tried it here and readpe works with this binary.

Thanks!

[2018-06-06 04:52] merces commented on #129
Can you guys provide the binary files that triggered the said bug?

[2018-06-11 07:10] cynicer commented on #132
Hey @merces,

I used the macOS version installed via brew. I just used a compiled version from the latest source available and I get the same result  (`Segmentation fault: 11`).

Regards,
Marcel

[2018-07-22 11:04] merces commented on #132
Humm.. I've tested with the latest source code from this repository and it works with your binary. Maybe the brew package maintainer needs to update it?

[2018-07-22 12:19] merces commented on #126
https://github.com/merces/libpe/commit/cda5c76c2b0cb06f6df84dd6697436f216ed7464 fixed this. Thank you!

[2018-07-22 12:19] #126 closed

[2018-09-18 07:27] RKTP commented on #100
Any progress on this one? I manually edited my LD_LIBRARY_PATH and that was inefficient.

[2018-10-22 21:45] wesinator opened #136 "pepack does not use default userdb.txt (Ubuntu)"
pev 0.80 Ubuntu package

**To reproduce:**
- `pepack file.exe`

pepack does not load the db file from `/usr/share/pev/userdb.txt` when no -d file is specified:
[code]

**Expected:** loads default userdb.txt file
https://github.com/merces/pev/blob/ef1a4c8a3f077c95cc7301e4c7b0abdd115c2891/doc/manpages/pepack.1#L19

[2018-10-22 23:51] wesinator commented on #127
Should look at using [Jansson](https://github.com/akheron/jansson) for JSON output.

[2018-10-24 13:21] tdifg opened #137 "[BUG] SectionHeader identification error"
Test file is https://github.com/pts/pts-tinype/blob/master/hh1.golden.exe (source code here: https://github.com/pts/pts-tinype/blob/master/hh1.nasm).

`readpe -V` got:
[code]

Test command is `readpe hh1.golden.exe` and got result:
[code]

There should be three sections named as ".dummy1", ".dummy2", ".text", but the result is just empty and the other fields of the last two sections is wrong too.

[2019-06-01 16:08] TheBarret opened #142 "pestr adds/misses random characters"
pestr sometimes removes or adds random characters at the beginning of a string.

command line `pestr -o -s -n 5 <path>`

screenshot of what we found was incorrect:
https://i.imgur.com/rTIu9wc.png

[2019-06-02 19:27] merces commented on #142
Hi there! Can you provide the binary you used to verify that? Thanks in advance!

[2019-06-02 22:18] issueraise opened #143 "Different imphash result from pefile"
Hi,

I was checking the latest version (compiled today, April 2, 2019) and noticed a different imphash result from pefile.

I tried hashing this file https://cygwin.com/setup-x86_64.exe (ae481452927771af871e218c85252192e1448c48fbc54bfe38c1bd2303af4ad0)

For reference, here are the hashes for the same file on VirusTotal:
https://www.virustotal.com/gui/file/ae481452927771af871e218c85252192e1448c48fb

[2019-06-03 12:16] TheBarret commented on #142
github would not accept the zip/gz attachment for some reason so i made a temporary download link on my server for you, file called `Test3.zip`
http://shares.lethal.click/merces/
Its a `crack me` type of deal processed by an obfuscator.

[2019-06-11 21:45] philippelyp opened #144 "Filepath not escaped resulting in an invalid json on Windows"
Using pehash, on Windows, with json output, `\` is not escaped in the filepath resulting in an invalid json.

For example:
[code]

Should be:
[code]

[2019-06-11 21:53] philippelyp commented on #128
cyggcc_s-1.dll was not installed with Cygwin for me.  I guess that the presence of the dll depends on the version and/or packages that you are installing.

[2019-07-08 21:45] paulmand3l opened #145 "Segfault 11 on binary"
Getting a segfault when trying to run readpe on the attached dll (it's ostensibly a gatt table generation library from Sierra Wireless, but run at your own risk, of course).

I'm on OSX Mohave and just installed pev via homebrew (following the instructions in the PEV documentation - http://pev.sourceforge.net/doc/manual/en_us/ch02.html#binmac)

[db_gen.dll.zip](https://github.com/merces/pev/files/

[2019-07-29 18:38] jweyrich commented on #137
Hi @tdifg! Thanks for bringing it to our attention.
Indeed, something isn't being handled correctly for this scenario.

Besides the section problem you raised, I also found that the imports aren't being extracted for your sample. Maybe they're unrelated and we should open a new issue for this - we'll analyse.
In this case an address range check is failing - the exact check is at https://github.com

[2019-07-29 19:21] jweyrich commented on #107
Testing with code from the latest commit (6d687babc3067240b9692dc51b5a29f2bd952b4a) I couldn't reproduce the segfault(s) for the sample you provided by e-mail.

Please, could you test it again? I tried both pesec and readpe with various param combinations.

[2019-07-29 19:37] jweyrich commented on #127
That was fixed - it was an output generated by debug that shouldn't be there.

[2019-07-29 19:39] jweyrich commented on #127
Would you be able to provide the binary sample again? The link is broken right now.

[2019-07-29 20:06] #144 closed

[2019-07-29 20:11] jweyrich commented on #144
Thank you for the report @philippelyp!
I just added an encoding table for JSON entities such as `\`. This change should address filesystem paths well, but doesn't handle all possible JSON entities such as some control codes.
Let me know if it works for you.

[2019-07-29 20:16] jweyrich commented on #132
Hi @cynicer!

I just tried using the latest code (commit 8ecd6bb4ca7031ea08257accd0898dd330b03d36) on macOS (10.14.6) and couldn't reproduce it.

Please, can you tried it again?

[2019-07-29 20:26] jweyrich commented on #145
Hi @paulmand3l!

1. In which version of pev did you notice this crash?
2. In which system are you running it?

I wasn't able to reproduce the crash on macOS using the latest commit - we should release a new version soon.

[2019-07-30 19:03] #122 closed

[2019-07-30 19:04] jweyrich commented on #122
@jwilk thank you for the report!

[2019-08-01 18:45] #127 closed

[2019-08-01 19:05] jweyrich commented on #127
@torandu: I believe the commit referenced above fixes the original issue.

@rhaist: the issue you reported was caused by a debug message that shouldn't be present. It was fixed by https://github.com/merces/pev/commit/7891e1acae740890821271946408094b823f3984

[2019-08-01 20:58] jweyrich commented on #144
FWIW, the JSON output now escapes all control codes.

[2019-08-02 19:18] jweyrich commented on #137
@tdifg: I believe https://github.com/merces/libpe/commit/b4c642aa4c36c9cc43dc78e2b953569dfed21889 fixed the section headers calculation.

Please, could you try again using the latest master? Keep in mind the fix is in `libpe`, so make sure to update it as well.

[2019-08-09 20:26] #124 closed

[2019-08-09 20:29] #132 closed

[2019-08-09 20:31] jweyrich commented on #107
I'm closing the issue due to inactivity. Please, reopen it if you are able to reproduce it using the latest revision.

[2019-08-09 20:31] #107 closed

[2019-08-09 20:33] jweyrich commented on #129
I'm closing the issue due to inactivity. If you are able to reproduce it, feel free to reopen it and share your steps.

[2019-08-09 20:33] #129 closed

[2019-11-15 17:13] asutoshpalai commented on #145
I installed pev via brew and saw Segfault 11 when running `readpe -d <someexe>` in the `output_open_scope` function. It was a `mov eax, [0x8]` instruction which I assume is in someway malformed.

I build from the source via `brew` and saw the same segfault (didn't debug to check which instruction). Then I built the `HEAD` using `brew install --build-from-source --HEAD pev --debug` and ignored the

[2019-11-22 19:48] jweyrich commented on #145
Thank you for the reply.
Indeed, this is a bug in v0.80 which appears depending on the binary being analysed. It was fixed a while ago - that's why the HEAD works.
The brew package should be fixed as soon as we release a new version.
@merces: do you think we're able to release v0.81 or maybe v0.90 before xmas?

[2020-03-16 16:39] merces commented on #143
Thanks for reporting this. I'll be fixed soon!

[2020-03-16 21:03] merces commented on #143
Fixed by https://github.com/merces/libpe/commit/a88e6f21436c9237da5e2831b4a8888b56be0e15

[2020-03-16 21:03] #143 closed

[2020-03-16 21:07] merces commented on #145
Considering 2020 Christmas, yes we will. 😁
I already started working on this. 😉

[2020-03-17 01:53] merces commented on #128
This dependency was removed. We'll consider it fixed as the current code compiles correctly with Cygwin.

[2020-03-17 01:53] #128 closed

[2020-04-19 05:01] jweyrich commented on #77
I don't see an easy way to identify which directory is in which position since that is defined/guaranteed by their order/index.

We could traverse all directories, but `IMAGE_DATA_DIRECTORY` gives us only `VirtualAddress` and `Size` before we access the `VirtualAddress` (translated to an offset) to read an specific directory structure.

That would require a brute-force detection, or maybe I'm miss

[2020-04-19 05:04] jweyrich commented on #74
@merces Look! I think we already knew that! haha

[2020-04-19 18:33] merces commented on #77
Hum... @katjahahn do you know a tool that can read it correctly? I'd like to see its source code. 🙂

[2020-04-23 08:41] katjahahn commented on #77
I used PortEx: https://github.com/katjahahn/PortEx/tree/master/src/main/java/com/github/katjahahn/parser/sections/rsrc
However, it seems the resource_shuffled.exe is not in the corkami project anymore, so I cannot confirm that it works with the current version.

[2020-05-06 09:49] tw-ascohen opened #153 "peres failed with some dll files"
**Describe the bug**
Resources exist but output is:
WARNING: this file has no resources

**To Reproduce**
Please provide us with:
- pev 0.81
- Centos7
- PCL4RES.DLL
- ./peres -a PCL4RES.DLL

**Expected behavior**
show resources

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Suggested fix is:
https://github.com/merces/pev/files/4586001/peres.c.

[2020-05-18 22:15] jweyrich commented on #74
Probably fixed by https://github.com/merces/pev/commit/465cd8b1e93a3c08c0a216dcf2be32d2385fc86d.

[2020-05-18 22:15] #74 closed

[2020-05-19 00:31] #111 closed

[2020-05-19 00:37] jweyrich commented on #153
Thanks for you report @tw-ascohen!

It seems that we fixed it in https://github.com/merces/pev/commit/7bbe21e1ebd98a60434dd051c6a0a3ff347267fa

[2020-05-19 00:37] #153 closed

[2020-05-19 00:42] jweyrich commented on #111
Hi @jwilk! I wasn't able to reproduce the issue but I think I've fixed it. Your quote from the docs makes total sense. Thanks!
Would you mind testing it again?

[2020-07-11 19:48] kenorb opened #155 "Segmentation fault with "-f csv""
**Describe the bug**

`peres` crashes when specified `-f csv` or `-f json`, doesn't without specifying format.

**To Reproduce**
Please provide us with:
- pev version: pev-0.80_1
- OS version: macOS 10.15.5
- The file(s) you've analysed with pev: terminal64.exe
- The command you've used with the files, with all the flags: peres -v -f csv

1. `wget https://github.com/EA31337/MT-Platforms/releases/d

[2020-09-05 11:01] merces commented on #155
Thanks for reporting this!

@jweyrich I think it's a libpe bug. According to my tests, it happens when pe_resources(&ctx) is called [here](https://github.com/merces/pev/blob/master/src/peres.c#L676).

I can't reproduce the segmentation fault though. Using the latest pev/libpe code I see an abort trap instead.

[2020-09-06 06:58] jweyrich commented on #155
The issue seems to be consistent and happens to all formats specified by argument, including text. Looks like a memory corruption.

Here's what I got running on WSL:
[code]

[2020-10-08 09:54] lacostej commented on #77
Does this help?
http://pedump.me/401ed03adc85aa46708994cb5dbb7a89/ ?

It looks one could recreate the exe from http://pedump.me/401ed03adc85aa46708994cb5dbb7a89/#hexdump

[2020-11-28 04:27] jweyrich commented on #105
A small progress on this issue, in https://github.com/merces/pev/commit/465cd8b1e93a3c08c0a216dcf2be32d2385fc86d we added support for (hopefully) proper ICO extraction.

[2021-01-09 00:01] electric-socket opened #156 "PEREAD.EXE Does not work on Windows 10 64 bit"
is some sort of problem when running peread in that it does not work. I use SUBST to assign drive letters to directories on my computer so I don't have to use long path names. Here are the relevant assignments:

P:\: => C:\lazarus\fpc\3.2.0\bin\x86_64-win64  (This is where the Pascal compiler is located)
V:\: => C:\Users\Paul\Documents\Programming\pev-0.80-win32   (location of PE tools)

Tried loc

[2021-01-11 13:41] merces commented on #156
Thanks for the report, Paul! We'll investigate.

[2021-01-11 23:38] merces commented on #145
Fixed on the latest release ([v0.81](https://github.com/merces/pev/releases/tag/v0.81)).

[2021-01-11 23:38] #145 closed

[2021-01-12 00:17] jweyrich commented on #136
Sorry for the small delay :-)
We're checking the open issues and I found this to be a good start.
How did you install the tool?
I ask because it could be an issue in our packaging steps, or in a specific package.

[2021-01-12 00:34] jweyrich commented on #156
@electric-socket which version of pev are you using? Did you try building it from source?

[2021-01-12 00:50] wesinator commented on #136
I installed from Ubuntu/Debian package `sudo apt install pev`
Not sure if this was fixed for 0.81

[2021-01-12 03:13] merces commented on #156
It is likely fixed in [v0.81](https://github.com/merces/pev/releases/tag/v0.81). I've downloaded Lazarus IDE (from where I assume this `ppcx64.exe` binary is from) and couldn't reproduce the problem:

[code]

[2021-01-12 05:32] merces commented on #142
Hi again. Any chance you could re-upload the binary?

Thanks a lot!

[2021-01-12 05:35] merces commented on #105
@rmenessec would you be able to test with the latest release? Thanks.

[2021-01-12 05:42] merces commented on #77
It should still be available [here](https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/corkami/BinaryCorpus_v2.zip) from [this archive](https://code.google.com/archive/p/corkami/downloads?page=4). 😉

[2021-01-17 06:55] jweyrich commented on #108
@petterreinholdtsen just wanted to let you know that we've released 0.81 last week.

[2021-01-17 10:40] petterreinholdtsen commented on #108
[Jardel Weyrich]

Thank you for the heads up.  Is there any news on OpenSSL 1.1?

--
Happy hacking
Petter Reinholdtsen

[2021-01-17 14:03] merces commented on #108
Hi @petterreinholdtsen. We really appreciate your interest and efforts spent on this. Thanks a lot for reaching out. @jweyrich and I will work on it tomorrow and update this issue later this week.

[2021-01-17 16:25] jweyrich commented on #108
Yes. It includes changes to support OpenSSL 1.1. Mostly https://github.com/merces/pev/commit/53eb494baf2b1132d27f73da079f4226157f6381

[2021-01-17 18:14] petterreinholdtsen commented on #108
Good to know.  Did not see it mentioned in the ChangeLog, hence my question. :)

[2021-01-17 19:23] merces commented on #108
My fault. Just fixed that. ;-)

[2021-01-18 08:10] petterreinholdtsen opened #157 "Crud in sourceforge tarball"
I ran into a problem when trying to update the Debian package to the
latest version of pev.  The tarball on sourceforge have lots of crud, seen when doing
"tar ztvf ../pev-0.81.tar.gz |grep '\._'".  The fatal problem for my
build system is the existence of "._pev-0.81" parallell to the toplevel
directory "pev-0.81".  Is there any chance to make a tarball without
these ._* files?

[2021-01-18 13:28] merces commented on #157
Hi @petterreinholdtsen! These files are used by git so it's ok to remove them from the tarball. I just updated it. Here's a list with all files and directories in the updated tarball:

[code]

Could you let us know if that helps?

Thanks,
Fernando

[2021-01-18 20:54] petterreinholdtsen commented on #157
[Fernando Mercês]

How peculiar.  After downloading from
<URL: https://sourceforge.net/projects/pev/files/pev-0.81/pev-0.81.tar.gz/download >
I still see the ._* files in the tarball I downloaded.  Perhaps some
mirror is not yet updated?

% tar ztvf ../pev-0.81.tar.gz | grep '\._'
-rwxr-xr-x fernandom/staff 210 2021-01-18 14:21 ._pev-0.81
-rw-r--r-- fernandom/staff 211 2021-01-12 00:29 pev-0.81/._

[2021-01-18 20:59] merces commented on #157
Wow. When I really thought this underscore character was a typo or something. I have no idea on what's this. These files do not exist in my folder, neither in the tarball (according to my filesystem). Does the MD5 hash shown in SourceForge match the downloaded file for you?

[2021-01-18 22:15] petterreinholdtsen commented on #157
[Fernando Mercês]

The MD5 hash of my tarball is bb3498012134a2bed02cc28b94bc7754.

I suspect you are working on a MacOSX machine, which will the tarball
with crud it hide from you.  Perhaps try on a Linux machine?

% file ._pev-0.81
._pev-0.81: AppleDouble encoded Macintosh file
%

--
Happy hacking
Petter Reinholdtsen

[2021-01-18 22:55] merces commented on #157
Good idea. Just did that and [updated the tarball](https://sourceforge.net/projects/pev/files/pev-0.81/). It should be normal now (MD5: 9800200f26adadf4812919ae02971476). Could you check please?

Thanks,
Fernando

[2021-01-18 23:30] #108 closed

[2021-01-19 00:38] jweyrich commented on #136
@wesinator we debugged the package and are able to reproduce the issue on Ubuntu 18.04. We verified that the .deb package did overwrite the `DEFAULT_PLUGINS_PATH` to load plugins from `/usr/lib/pev/plugins/` but did not overwrite the `SHAREDIR` path which is used to load the `userdb.txt` file. We notified the package maintainer about that and as soon as we get a reply, we'll let you know.

[2021-01-19 01:11] jweyrich commented on #155
The corruption should be fixed by https://github.com/merces/libpe/commit/5737a97c57be175333fc0c6f51bb2cdd7101c17e.
@kenorb please, could you build pev from source and test it again?

[2021-01-19 07:54] petterreinholdtsen commented on #157
[Fernando Mercês]

Now the crud is gone.

% tar ztvf ../pev-0.81.tar.gz |grep '\._'
%

--
Happy hacking
Petter Reinholdtsen

[2021-01-19 12:38] merces commented on #157
Thanks, @petterreinholdtsen. By the way, we sent you an email regarding #136 (we believe it can be fixed at the package level). I appreciate if you can take a look.

[2021-01-19 13:39] petterreinholdtsen commented on #136
I believe this was a bug in the debian build for pev, since fixed in 0.81-1 currently in experimental.

[2021-01-19 14:00] merces commented on #157
Thanks! We sent it to pere at hungry.com about 13h ago (I got it from a patch in pev package). Could you send me an email on nandu88 at gmail.com please? I'll delete this message afterwards. ;-)

[2021-01-19 14:42] merces commented on #157
Here's what we sent anyway:

[code]

[2021-01-19 15:24] merces commented on #136
I've verified this is fixed in 0.81-1!

[code]

[2021-01-19 18:45] petterreinholdtsen commented on #157
[Fernando Mercês]

Thank you.  A fix is in the pipeline.

If you sent from a gmail account, you might have been bit by the fact
that some of the mail servers at gmail are blacklisted due to excessive
spamming.  I've been told some emails are rejected because of
<URL: http://www.sorbs.net/lookup.shtml?209.85.208.49 >.

--
Happy hacking
Petter Reinholdtsen

[2021-01-19 19:16] merces commented on #157
That's definitely a week of discoveries. Yeah, I used a gmail account. Thanks for everything, Peter!

[2021-01-19 19:17] #157 closed

[2021-01-22 14:42] jweyrich commented on #136
@merces it seems that .config/pevpev.conf is missing the dir separator. We did fix this in our last conversation, right? Not sure if the fix was in time to get into this package.

openat(AT_FDCWD, "/home/user/.config/pevpev.conf", O_RDWR) = -1 ENOENT (No such file or directory)

[2021-01-22 14:59] merces commented on #136
@jweyrich yes we did fix it. It was not in time for the package but since the only available option supported by `pev.conf` is the one that sets the plugins path, it makes no difference for our users. I think it's ok to have this fix in the next release but I'd like to hear you too. 🙂

[2021-01-22 15:02] jweyrich commented on #136
Sure. No problem!

[2021-01-29 07:08] pitsi opened #158 "Peres -v shows a lot of useless (debug) info. Is this intentional?"
**Describe the bug**
After the upgrade to 0.81, peres -v shows the version and, before it, a ton of useless debug info in the terminal. On 0.80 it just showed the version and nothing more, thus the question if this new behavior is intentional. If it is, can it be turned off with some other command line parameter?

**To Reproduce**
Please provide us with:
- pev version: 0.81
- OS version: debian te

[2021-01-29 17:45] merces commented on #158
Hi @pitsi! Thanks for reporting this. It was actually fixed by [this commit in libpe](https://github.com/merces/libpe/commit/277ee7a724dd5828c3a1f589b3a7807e2ead1a2c) but we haven't released v0.82 yet. If you compile pev from the sources, you'll have it fixed. Or if you can wait, @jweyrich and I can consider releasing a new version to fix this and other issues soon.

As a workaround, you could fil

[2021-01-29 19:28] pitsi commented on #158
The commit was made a week before my report here, so I assume you already knew it.
I will probably get 0.82 during or after summer, because debian is now on freeze. So don't rush it. I will use the workaround you mention unil then.
Feel free to close this report if you consider the issue fixed.

[2021-01-29 22:21] merces commented on #158
Oh, sorry about the inconvenience. We only noticed that after the release indeed. I'll keep this issue open until we release a new version. ;)

[2021-03-16 13:29] katjahahn commented on #77
PortEx does work with that file.

[2021-05-17 09:23] i0gan opened #166 "readpe crashed when I use -e"
# readpe crashed when I use -e

*Describe the bug**
In readpe newst version, Analysing abnormal test.exe will crash this program, And the version 0.70 can modify the RIP regester.

The test.exe download: https://github.com/I0gan/files/raw/main/pev/test.exe

### version 0.70 test:
[code]

I use gdb to debugger this program,the rip regester can be set as 0
[code]

In newst verion:

### test
[code]

[2021-05-18 17:38] jweyrich commented on #166
I haven't checked the code, but I suspect this is related to https://github.com/merces/libpe/commit/5737a97c57be175333fc0c6f51bb2cdd7101c17e and https://github.com/merces/libpe/issues/34.

[2021-09-29 09:30] danperor opened #169 "build failed in windows"
cd lib/libpe && make all
make[1]: Entering directory '/cygdrive/d/code/gitcode/pev/lib/libpe'
cc -c -O2 -ffast-math -I"./include" -fPIC -W -Wall -Wextra -pedantic -std=c99 -c -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=2 -D_GNU_SOURCE -D_XOPEN_SOURCE=600 -o /cygdrive/d/code/gitcode/pev/lib/libpe/build/./error.o error.c
/bin/sh: cc: command not found
make[1]: *** [Makefile:114: /cygdrive/d/code/gitcode/pev

[2021-09-29 11:03] merces commented on #169
Hello. Thanks for raising this issue. :)

Are you trying to build using Cygwin? Please see [here](https://github.com/merces/pev/wiki/Installation#how-to-build-on-windows-via-cygwin).

Cheers,
Fernando

[2021-10-16 15:27] saullocarvalho commented on #166
I suspect this segmentation fault is happening because:

1. `calloc` is called using a huge value (`exp->NumberOfFunctions`) as first argument at `pe_exports` function @ `libpe` which causes `exports->functions` being set to `NULL`;

[code]

https://github.com/merces/libpe/blob/5f44724e8fcdebf8a6b9fd009543c9dcfae4ea32/exports.c#L93-L98

Then, according to the above snippet, `exports->err` is set t

[2021-10-16 19:39] saullocarvalho commented on #166
How should the error be handled?
As `print_export` does not return any value, how the `main` fuction would be aware of an error in it?

Should errors in the `print_*` functions be ignored or return `EXIT_FAILURE` as occurs at the following snippet?

https://github.com/merces/pev/blob/072085d5e656915f3e6c3107189233b4052a988b/src/readpe.c#L878-L891

[2021-11-02 18:51] n-thumann opened #170 "Compiling with flat namespace causes build for Homebrew to fail"
Hi ✌🏻
The build for Homebrew fail (see https://github.com/Homebrew/homebrew-core/pull/88460) due to the compiling with flat namespace.
Can you fix this issue?

[2021-11-03 20:10] merces commented on #170
Hi @n-thumann. Thanks for raising this issue, however, I am not familiar with the concept of flat namespaces. Is it something we should add to the Makefile for macOS? Could you help?

Thanks!

[2021-11-03 20:11] merces commented on #169
I'll close it for now. The author can reopen in case the link I provided is not enough to fix the problem.

[2021-11-03 20:11] #169 closed

[2021-11-03 20:23] merces commented on #166
Hi @saullocarvalho and @I0gan . Thanks for raising this issue. I believe we should print a warn to the user. This could be done in the `print_export` function itself. Does it sound coherent?

Thanks.

[2021-11-03 21:31] merces commented on #166
Another thing came to mind here.. we can also set a limit for, let's say 65535 exported functions. I can't imagine a valid PE with such a huge number of functions to be honest.

[2021-11-03 22:36] n-thumann commented on #170
Unfortunately me neither 😬 But I've found out that omitting `-flat_namespace` here
https://github.com/merces/pev/blob/master/src/plugins/Makefile#L69 and https://github.com/merces/libpe/blob/master/Makefile#L105 solves the issue. TBH, I cannot evaluate if or how this affects your application.

[2021-11-03 23:26] merces commented on #170
Oh, I see. I didn't know we were explicitly asking for it. It was probably asked by whoever worked on the macOS build (it wasn't me). I'll run a few tests without to see how the application behaves. Thanks!

[2021-11-04 15:51] merces commented on #170
@jweyrich do you game any objections to it?

[2021-11-09 03:02] LakerMoon opened #171 "It occurred ERROR when I make pev in Linux."
I installed openssl and libssl-dev, and i git clone new libpe.In libpe category, i make successfully.
But i came back pev/ and make it error:

Makefile:148: recipe for target 'build/./peres.o' failed
make[1]: *** [build/./peres.o] Error 1
make[1]: Leaving directory '/home/hy/code/pev-0.81/src'
Makefile:9: recipe for target 'all' failed
make: *** [all] Error 2

[2021-11-09 12:23] merces commented on #171
This error doesn't say much. =/ Did you clone the pev repo using the `--recursive` option as instructed [here](https://github.com/merces/pev#how-to-get-the-source-code)?

[2022-01-15 17:08] carlocab commented on #170
Some background about this flag and why it's a good idea to remove it can be found here: ocaml/ocaml#10723

Though, the TL;DR is: you only need this if you support *very* old Macs (pre-10.5 running PPC, so about 15 years old).

[2022-01-15 21:03] #170 closed

[2022-01-15 21:08] merces commented on #170
Thanks. It should be fixed now.